[push]
  default = simple
  autoSetupRemote = true

[init]
  defaultBranch = main

[diff]
  tool = nvimdiff

[core]
  excludesfiles = ~/.gitignore
  editor = nvim
  ignorecase = false

[color]
  status = auto
  diff = auto
  branch = auto
  interactive = auto
  grep = auto
  ui = auto

[alias]
  # Amend to the last commit
  amend = commit --amend --no-edit --allow-empty

  # A multi push command for my ease
  push-all = !git remote | xargs -L1 git push --all

  # edit conflicted file on merge
  edit-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; nvim `f`"
  # add conflicted file on merge
  add-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; git add `f`"

  # removing reflog content 
  ref-prune-now = !git reflog expire --expire=now --expire-unreachable=now --all && git gc --prune=now --aggressive

[difftool "nvimdiff"]
  cmd = nvim -d "$LOCAL" "$REMOTE"

[mergetool "nvimdiff"]
  cmd = nvim -d "$LOCAL" "$REMOTE" -ancestor "$BASE" -merge "$MERGED"
  trustExitCode = true

[user]
  name = Harsh Vyapari (harshv5094)
  email = harshvy5094@proton.me
  signingKey = A897C10C48C4E722

# Setup signed commit using gpg keys
[commit]
  gpgsign = true

[filter "lfs"]
  process = git-lfs filter-process
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f

# Uncomment this for windows and install both gpg and gpg4win
# [gpg]
# 	program = C:\\Program Files\\Gpg4win\\..\\GnuPG\\bin\\gpg.exe
