@theme "./colors.rasi"

* {
    background-color: @bg-col;
    text-color: @fg-col;
    b-radius: 8px;
    g-spacing: 10px;
}

configuration {
    modi: "window,drun,ssh,combi";
    combi-modi: "window,drun,ssh";
    font: "JetBrainsMono Nerd Font Propo 13";
    show-icons: false;
    display-drun: " ";
}

window {
    width: 450px;
    border: 3px solid;
    border-color: @fg-col;
    border-radius: @b-radius;
    padding: 12px;
    background-color: @bg-col;
}

mainbox {
    spacing: @g-spacing;
    children: [ "inputbar", "listview" ];
}

inputbar {
    spacing: @g-spacing;
    children: [ "prompt", "entry" ];
}

entry {
    text-color: @fg-col;
}

prompt {
    text-color: @fg-col;
}

listview {
    columns: 1;
    scrollbar: false;
    lines: 7;
    fixed-height: true;
    border: 0px;
}

element {
    padding: 8px;
    spacing: @g-spacing;
    border-radius: @b-radius;
}

element-text, element-icon {
    background-color: inherit;
    text-color:       inherit;
}

element normal.normal, element alternate.normal {
    background-color: @bg-col;
    text-color: @fg-col;
}

element selected.normal {
    background-color: @fg-col;
    text-color: @bg-col;
}

