@import "./colors.css";

* {
  font-family: "JetBrainsMono Nerd Font Propo";
  font-weight: 700;
  font-size: 15px;
  border: none;
}

window#waybar {
  transition: all 1s ease-in-out;
  background-color: @background;
  color: @foreground;
}

@keyframes blink {
  0% {
    color: @foreground;
  }

  50% {
    color: @background;
  }

  100% {
    color: @foreground;
  }
}

#workspaces button {
  padding: 0px 2px;
  color: @foreground;
  background: transparent;
  border: none;
}

#workspaces button.urgent {
  animation: blink 0.4s steps(12) infinite alternate;
}

#workspaces button.empty {
  opacity: 0.4;
  transition: opacity 0.1s ease;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#pulseaudio,
#battery,
#network,
#window,
#bluetooth,
#custom-expand-icon,
#cpu,
#submap {
  padding: 0px 6px;
}

#battery.critical:not(.charging),
#battery.warning:not(.charging) {
  animation: blink 0.4s steps(12) infinite alternate;
}
